node_modules
.turbo
.svelte-kit-cache
.svelte-kit-out

test-results
node_modules
packages/ui/dist
packages/ui/.svelte-kit

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Cloudflare Types
/worker-configuration.d.ts

# Paraglide
src/lib/paraglide
project.inlang/cache/

# SQLite
*.db

*storybook.log
storybook-static
